<div class="name-forge">
  <p class="nf-blurb">{{localize "NF.Blurb"}}</p>

  <form class="nf-form" autocomplete="off">
    <div class="nf-row">
      <label for="nf-genre">{{localize "NF.Genre"}}</label>
      <select id="nf-genre" name="genre">
        {{#each genres}}
        <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
        {{/each}}
      </select>
    </div>

    {{#if showCategory}}
    <div class="nf-row">
      <label for="nf-category">{{localize "NF.Category"}}</label>
      <select id="nf-category" name="category">
        {{#each categories}}
        <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
        {{/each}}
      </select>
    </div>
    {{/if}}

    <div class="nf-row">
      <label id="nf-type-label">{{localize "NF.NameType"}}</label>
      <div class="nf-combo" id="nf-type-combo">
        <button type="button" class="nf-combo-trigger" id="nf-type-trigger" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="nf-type-label">
          <span class="nf-combo-value">{{typeLabel}}</span>
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="nf-combo-panel" id="nf-type-panel" hidden>
          <input type="search" class="nf-combo-search" id="nf-type-search" placeholder="{{localize 'NF.SearchNameType'}}" autocomplete="off" />
          <ul class="nf-combo-list" id="nf-type-list" role="listbox">
            {{#each groups}}
            <li class="nf-combo-group">{{this.label}}</li>
            {{#each this.options}}
            <li class="nf-combo-option" role="option" data-value="{{this.value}}" data-label="{{this.label}}" {{#if this.selected}}aria-selected="true"{{/if}}>{{this.label}}</li>
            {{/each}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

    {{#if showCompound}}
    <div class="nf-row">
      <label class="nf-checkbox-label" for="nf-compound">
        <input type="checkbox" id="nf-compound" name="compound" {{#if compound}}checked{{/if}} />
        {{localize "NF.CompoundNames"}}
      </label>
    </div>
    {{/if}}

    <div class="nf-row nf-row-inline">
      <div class="nf-count">
        <label for="nf-count">{{localize "NF.Count"}}</label>
        <input type="number" id="nf-count" name="count" min="1" max="30" value="{{count}}" />
      </div>
      <button type="button" class="nf-generate nf-btn-generate" data-action="generate">
        <i class="fa-solid fa-dice"></i> {{localize "NF.Generate"}}
      </button>
    </div>
  </form>

  <div class="nf-results-wrap">
    <div class="nf-results-header">
      <span class="nf-results-title">{{localize "NF.Results"}}</span>
    </div>
    <ol class="nf-results"></ol>
  </div>

  {{#if showActorControls}}
  <div class="nf-actor-row">
    <label for="nf-actor-type">{{localize "NF.CreateAs"}}</label>
    <select id="nf-actor-type" name="actorType">
      {{#each actorTypes}}
      <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
      {{/each}}
    </select>
  </div>
  {{/if}}
</div>
