<div class="name-forge">
  <p class="nf-blurb">{{localize "NF.Blurb"}}</p>

  <form class="nf-form" autocomplete="off">
    <div class="nf-row">
      <label for="nf-genre">{{localize "NF.Genre"}}</label>
      <select id="nf-genre" name="genre">
        {{#each genres}}
        <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
        {{/each}}
      </select>
    </div>

    {{#if showCategory}}
    <div class="nf-row">
      <label for="nf-category">{{localize "NF.Category"}}</label>
      <select id="nf-category" name="category">
        {{#each categories}}
        <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
        {{/each}}
      </select>
    </div>
    {{/if}}

    <div class="nf-row">
      <label for="nf-type">{{localize "NF.NameType"}}</label>
      <select id="nf-type" name="type">
        {{#each groups}}
        <optgroup label="{{this.label}}">
          {{#each this.options}}
          <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
          {{/each}}
        </optgroup>
        {{/each}}
      </select>
    </div>

    {{#if showCompound}}
    <div class="nf-row">
      <label class="nf-checkbox-label" for="nf-compound">
        <input type="checkbox" id="nf-compound" name="compound" {{#if compound}}checked{{/if}} />
        {{localize "NF.CompoundNames"}}
      </label>
    </div>
    {{/if}}

    <div class="nf-row nf-row-inline">
      <div class="nf-count">
        <label for="nf-count">{{localize "NF.Count"}}</label>
        <input type="number" id="nf-count" name="count" min="1" max="30" value="{{count}}" />
      </div>
      <button type="button" class="nf-generate nf-btn-generate" data-action="generate">
        <i class="fa-solid fa-dice"></i> {{localize "NF.Generate"}}
      </button>
    </div>
  </form>

  <div class="nf-results-wrap">
    <div class="nf-results-header">
      <span class="nf-results-title">{{localize "NF.Results"}}</span>
    </div>
    <ol class="nf-results"></ol>
  </div>

  {{#if isGM}}
  <div class="nf-actor-row">
    <label for="nf-actor-type">{{localize "NF.CreateAs"}}</label>
    <select id="nf-actor-type" name="actorType">
      {{#each actorTypes}}
      <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
      {{/each}}
    </select>
  </div>
  {{/if}}
</div>
